/* Style for the form */
#addItemForm {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#addItemForm label {
  font-weight: bold;
}

/* Style for the buttons in the form */
#addItemForm button {
  margin-top: 10px;
}

/* Style for the table */
.table {
  margin-top: 20px;
}

/* Style for table headers */
.table th {
  background-color: grey;
  color: #fff;
}

/* Style for table rows */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table action buttons */
.table .action-buttons {
  display: flex;
  justify-content: center;
}

/* Style for the edit button */
.table .edit-button {
  color: #007bff;
  cursor: pointer;
}

/* Style for the delete button */
.table .delete-button {
  color: #ff0000;
  cursor: pointer;
}

/* Style for the modals */
.modal-content {
  border-radius: 10px;
}

/* Style for the "Export to CSV" button */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}
